<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components.css" />
    <script src="../app.js" defer></script>
    <link rel="icon" type="image/png" href="../assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Cape UI | Buttons</title>
  </head>
  <body>
    <div class="app-container">
      <div class="overlay-div"></div>
      <div class="app-sidebar-wrapper hidden-sidebar">
        <div class="app-sidebar">
          <div class="app-head">
            <a href="../index.html"
              ><img
                src="https://res.cloudinary.com/akash29/image/upload/c_scale,h_150/v1625785778/component-lib-logo_baqy9d.png"
                alt=""
            /></a>
            <p>Docs v1.0</p>
          </div>

          <a href="getting-started.html" class="app-get-started"
            >Getting Started</a
          >

          <div class="app-sidebar-nav">
            <a href="avatars.html">Avatars</a>
            <a href="badges.html">Badges</a>
            <a href="buttons.html">Button</a>
            <a href="alerts.html">Alerts</a>
            <a href="navbar.html">Navbar</a>
            <a href="cards.html">Cards</a>
          </div>
        </div>
      </div>

      <div class="app-hero-section">
        <div class="app-hero-nav">
          <a href="../index.html">
            <img class="hero-nav-logo" src="../assets/single-logo.png" alt="" />
          </a>
          <div>
            <img class="ham-menu" src="../assets/ham-menu.svg" alt="" />
          </div>
        </div>

        <div class="app-hero-head">
          <div>
            <h1>Buttons</h1>
            <p>They help users to intract with UI by making possible actons.</p>
          </div>

          <a href=""><img src="../assets/github.svg" alt="" /></a>
        </div>

        <div class="app-hero-main">
          <div class="app-hero-subhead">
            <h2>Primary and Secondary Buttons</h2>

            <div class="button-container">
              <div class="btn btn-primary">Primary Button</div>
              <button class="btn btn-secondary">Secondary Button</button>
            </div>
          </div>

          <div class="showcase-div">
            <div class="code-box">
              <embed
                src="https://carbon.now.sh/embed/nQL68s87IfvCWhdxedzx"
                alt=""
                style="width: 100%; height: 10rem"
              />
            </div>
          </div>

          <div class="app-hero-subhead">
            <h2>Add and Remove Buttons</h2>
            <div class="button-container">
              <button class="btn btn-round">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button class="btn btn-round">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="showcase-div">
            <div class="code-box"></div>
            
            <embed
                src="https://carbon.now.sh/embed/CvUnjTbdTh0z9YSJVsBD"
                alt=""
                style="width: 100%; height: 15rem"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
