<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="components.css" />
    <script src="../app.js" defer></script>
    <link rel="icon" type="image/png" href="../assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Cape UI | Cards</title>
  </head>
  <body>
    <div class="app-container">
      <div class="overlay-div"></div>
      <div class="app-sidebar-wrapper hidden-sidebar">
        <div class="app-sidebar">
          <div class="app-head">
            <a href="../index.html"
              ><img
                src="https://res.cloudinary.com/akash29/image/upload/c_scale,h_150/v1625785778/component-lib-logo_baqy9d.png"
                alt=""
            /></a>
            <p>Docs v1.0</p>
          </div>

          <a href="getting-started.html" class="app-get-started"
            >Getting Started</a
          >

          <div class="app-sidebar-nav">
            <a href="avatars.html">Avatars</a>
            <a href="badges.html">Badges</a>
            <a href="buttons.html">Button</a>
            <a href="alerts.html">Alerts</a>
            <a href="navbar.html">Navbar</a>
            <a href="cards.html">Cards</a>
          </div>

        </div>
      </div>

      <div class="app-hero-section">
        <div class="app-hero-nav">
          <a href="../index.html">
            <img class="hero-nav-logo" src="../assets/single-logo.png" alt="" />
          </a>
          <div>
            <img class="ham-menu" src="../assets/ham-menu.svg" alt="" />
          </div>
        </div>

        <div class="app-hero-head">
          <div>
            <h1>Cards</h1>
            <p>
              They are used to display info like text and images and also help
              users to intract.
            </p>
          </div>

          <a href=""><img src="../assets/github.svg" alt="" /></a>
        </div>

        <div class="app-hero-main">
          <div class="app-hero-subhead">
            <h2>Vertical Cards</h2>

            <div class="grid-row grid-wrapper">
              <div class="vertical-card">
                <div class="thumbnail">
                  <img
                    class="img-responsive-vertical"
                    src="../assets/avatar-big.jpg"
                  />
                  <div
                    class="icon-position far fa-heart fa-2x fa-custom-heart"
                  ></div>
                </div>
                <div class="product-description">
                  <h3>Product Name</h3>
                  <p>Price:</p>
                  <div class="button-container">
                    <div class="btn btn-primary">
                      <i class="fa fa-shopping-cart"></i> add to cart
                    </div>
                  </div>
                </div>
              </div>

              <div class="vertical-card">
                <div class="thumbnail">
                  <img
                    class="img-responsive-vertical"
                    src="../assets/avatar-big.jpg"
                  />
                  <div
                    class="icon-position far fa-heart fa-2x fa-custom-heart"
                  ></div>
                </div>
                <div class="product-description">
                  <h3>Product Name</h3>
                  <p>Price:</p>
                  <div class="button-container">
                    <div class="btn btn-primary">
                      <i class="fa fa-shopping-cart"></i> add to cart
                    </div>
                  </div>
                </div>
              </div>

              <div class="vertical-card">
                <div class="thumbnail">
                  <img
                    class="img-responsive-vertical"
                    src="../assets/avatar-big.jpg"
                  />
                  <div
                    class="icon-position far fa-heart fa-2x fa-custom-heart"
                  ></div>
                </div>
                <div class="product-description">
                  <h3>Product Name</h3>
                  <p>Price:</p>
                  <div class="button-container">
                    <div class="btn btn-primary">
                      <i class="fa fa-shopping-cart"></i> add to cart
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="showcase-div">
            <div class="code-box">
              <embed
                src="https://carbon.now.sh/embed/bOGfghZtW3MAo28X9Xr2"
                alt=""
                style="width: 100%; height: 30rem"
              />
            </div>
          </div>

          <div class="app-hero-subhead">
            <h2>Horizontal Cards</h2>

            <div class="horizontal-card-wrap">
              <div class="horizontal-card-center">
                <div class="horizontal-card">
                  <div class="thumbnail">
                    <img
                      class="img-responsive-horizontal"
                      src="../assets/avatar.png"
                    />
                  </div>
                  <div class="product-description">
                    <h3>Product Name</h3>
                    <p>Price:</p>
                    <div class="button-container">
                      <small class="btn btn-round"
                        ><i class="fa fa-plus" aria-hidden="true"></i
                      ></small>
                      <span>5</span>
                      <small class="btn btn-round"
                        ><i class="fa fa-minus" aria-hidden="true"></i
                      ></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="horizontal-card-center">
                <div class="horizontal-card">
                  <div class="thumbnail">
                    <img
                      class="img-responsive-horizontal"
                      src="../assets/avatar.png"
                    />
                  </div>
                  <div class="product-description">
                    <h3>Product Name</h3>
                    <p>Price:</p>
                    <div class="button-container">
                      <small class="btn btn-round"
                        ><i class="fa fa-plus" aria-hidden="true"></i
                      ></small>
                      <span>5</span>
                      <small class="btn btn-round"
                        ><i class="fa fa-minus" aria-hidden="true"></i
                      ></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="horizontal-card-center">
                <div class="horizontal-card">
                  <div class="thumbnail">
                    <img
                      class="img-responsive-horizontal"
                      src="../assets/avatar.png"
                    />
                  </div>
                  <div class="product-description">
                    <h3>Product Name</h3>
                    <p>Price:</p>
                    <div class="button-container">
                      <small class="btn btn-round"
                        ><i class="fa fa-plus" aria-hidden="true"></i
                      ></small>
                      <span>5</span>
                      <small class="btn btn-round"
                        ><i class="fa fa-minus" aria-hidden="true"></i
                      ></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="showcase-div">
            <div class="code-box">
              <embed
                src="https://carbon.now.sh/embed/KOAi5QbkcjNndkgujT4z"
                alt=""
                style="width: 100%; height: 30rem"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
